.not-found {
    margin: 150rem 40rem 150rem;
    font-family: var(--font-second);
    font-size: 28rem;
    font-weight: 600;
    text-align: center;
    color: var(--dark-lilac);
    text-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.5);
}