@use './mixins' as *;

html {
	font-size: 1px;
}

html, body, #root {
	height: 100%;
}

body {
	font-size: 16rem;
	font-family: var(--font-main);
	background: var(--white);
    color: var(--black);
    transition: var(--transition);
}

.page {
    position: relative;
    min-height: 100%;
    padding-bottom: 100rem;

    @include tablet-small {
        padding-bottom: 70rem;
    }
}

a {
    color: var(--black);
}

.btn {
    cursor: pointer;
    transition: var(--transition);
}
