@use '../../styles/mixins' as *;

.daily-photo {
    margin: 70rem auto 40rem;
    max-width: 800rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        font-family: var(--font-second);
        font-size: 30rem;
        font-weight: 700;
        text-shadow: 1rem 1rem 5rem rgba(83, 82, 130, 0.25);
        margin-bottom: 30rem;
    }

    &__content {
        display: flex;
        justify-content: center;
        gap: 20rem;

        &-img {
            flex: 0 0 40%;
            box-shadow: 5px 5px 30px 0 rgba(0, 0, 0, 0.25);
            display: flex;
            border-radius: 7rem;

            img {
                border-radius: 7rem;
            }
        }

        &-info {
            
            .photo-title {
                margin-bottom: 20rem;
                font-family: var(--font-second);
                font-size: 26rem;
                text-shadow: 1rem 1rem 5rem rgba(83, 82, 130, 0.25);
            }

            .photo-desc {
                margin-bottom: 20rem;
                line-height: 140%;
                font-size: 16rem;
            }

            .photo-data {
                font-family: var(--font-second);
                font-size: 20rem;
                font-weight: 600;
            }
        }
    }


}

.news {
    margin-top: 40rem;
    margin-bottom: 20rem;
    padding: 80rem 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-lilac);

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 60%;

        &-title {
            margin-bottom: 30rem;
            color: var(--white);
            font-family: var(--font-second);
            font-size: 26rem;
        }
        
        &-list {
            display: flex;
            justify-content: center;
            gap: 30rem;
            margin-bottom: 30rem;

            .news-item-card {
                flex: 0 0 calc((100% - 30rem * 2) / 3);
                background-color: var(--white);
                border-radius: 7rem;
                display: grid;
                grid-template-rows: auto 1fr auto;
                
                &__img {
                    width: 100%;
                    display: flex;
                    border-radius: 7rem 7rem 0 0;
                    height: 200rem;

                    img {
                        width: 100%;
                        border-radius: 7rem 7rem 0 0;
                    }
                }

                &__info {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;

                    &-title {
                        font-family: var(--font-second);
                        font-size: 18rem;
                        font-weight: 700;
                        margin: 10rem;
                    }
    
                    &-summary {
                        margin: 0 10rem 10rem 10rem;
                        font-size: 16rem;
                    }
                }

                &__more-btn {
                    margin: 0 5rem 10rem 5rem;
                    padding: 10rem 5rem;
                    border: 1rem solid var(--red-brown);
                    border-radius: 5rem;
                    display: flex;
                    background-color: var(--red-brown);
                    font-size: 18rem;
                    color: var(--white);
                }
            }
        }

        &-btn {
            padding: 10rem 30rem;
            background-color: var(--white);
            border-radius: 7rem;
            color: var(--dark-lilac);
            font-size: 18rem;
            font-weight: 600;
            transition: var(--transition);

            &:hover {
                background-color: var(--black);
                color: var(--white);
            }
        }
    }
}