@use '../../styles/mixins' as *;

.daily-photo {
    margin: 70rem auto 40rem;
    padding: 0 40rem;
    max-width: 1520rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        font-family: var(--font-second);
        font-size: 36rem;
        font-weight: 700;
        color: var(--dark-lilac);
        text-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.5);
        margin-bottom: 50rem;
    }

    &__content {
        display: flex;
        justify-content: center;
        gap: 30rem;

        &-img {
            flex: 0 0 40%;
            box-shadow: 5px 5px 30px 0 rgba(0, 0, 0, 0.25);
            display: flex;
            border-radius: 7rem;

            img {
                border-radius: 7rem;
            }
        }

        &-info {
            
            .photo-title {
                margin-bottom: 20rem;
                font-family: var(--font-second);
                font-size: 24rem;
                text-shadow: 1rem 1rem 5rem rgba(83, 82, 130, 0.25);
            }

            .photo-desc {
                margin-bottom: 20rem;
                line-height: 140%;
                font-size: 16rem;
            }

            .photo-data {
                font-family: var(--font-second);
                font-size: 20rem;
                font-weight: 600;
                margin-bottom: 20rem;
            }

            .buttons {
                display: flex;
                gap: 10rem;
        
                .btn {
                    color: var(--red-brown);
                    padding: 5rem 10rem;
                    text-align: center;
                    font-size: 20rem;
                    border: 2rem solid var(--red-brown);
                    border-radius: 7rem;

                    &:not(.disabled):hover {
                        color: var(--white);
                        background-color: var(--red-brown);
                    }

                    &.disabled {
                        color: var(--lilac);
                        border: 2rem solid var(--lilac);
                        opacity: 0.6;
                        cursor: default;
                    }
                }
            }
        }
    }
}

.news {
    margin: 40rem auto 20rem;
    padding: 80rem 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-lilac);

    &__content {
        max-width: 1440rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-title {
            margin-bottom: 30rem;
            color: var(--white);
            font-family: var(--font-second);
            font-size: 36rem;
        }
        
        &-list {
            display: flex;
            justify-content: space-between;
            gap: 30rem;
            margin-bottom: 30rem;

            .news-item-card {
                flex: 0 0 calc((100% - 30rem * 2) / 3);
                background-color: var(--white);
                border-radius: 7rem;
                display: grid;
                grid-template-rows: auto 1fr auto;
                
                &__img {
                    width: 100%;
                    display: flex;
                    border-radius: 7rem 7rem 0 0;
                    height: 200rem;

                    img {
                        width: 100%;
                        border-radius: 7rem 7rem 0 0;
                    }
                }

                &__info {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;

                    &-title {
                        font-family: var(--font-second);
                        font-size: 18rem;
                        font-weight: 700;
                        margin: 10rem;
                    }
    
                    &-summary {
                        margin: 0 10rem 10rem 10rem;
                        font-size: 16rem;
                    }
                }

                &__more-btn {
                    max-width: 50%;
                    margin: 0 5rem 10rem 5rem;
                    padding: 7rem 5rem;
                    border: 2rem solid var(--red-brown);
                    border-radius: 7rem;
                    display: flex;
                    background-color: var(--white);
                    font-size: 18rem;
                    font-weight: 600;
                    color: var(--red-brown);

                    &:hover {
                        background-color: var(--red-brown);
                        color: var(--white);
                    }
                }
            }
        }

        &-btn {
            padding: 10rem 30rem;
            background-color: var(--red-brown);
            border: 1rem solid var(--white);
            border-radius: 7rem;
            color: var(--white);
            font-size: 18rem;
            font-weight: 600;
            transition: var(--transition);

            &:hover {
                background-color: var(--white);
                color: var(--dark-lilac);
                border: 1rem solid var(--dark-lilac);
            }
        }
    }
}