@use '../../styles/mixins' as *;

.solar-system {
    margin-top: 70rem;
    padding: 0 40rem; 

    &__about {
        margin-inline: auto; 
        margin-bottom: 70rem;
        max-width: 1440rem;
        
        display: flex;
        justify-content: center;
        gap: 30rem;

        &-image {
            flex: 0 0 40%;
            display: flex;
            border-radius: 7rem;
            box-shadow: 5px 5px 30px 0 rgba(0, 0, 0, 0.25);
            
            img {
                border-radius: 7rem;

            }
        }

        &-info {
            text-align: center;

            h3 {
                font-family: var(--font-second);
                font-size: 24rem;
                text-shadow: 1rem 1rem 5rem rgba(83, 82, 130, 0.25);
                margin-bottom: 10rem;
            }

            p {
                margin-top: 10rem;
                font-size: 18rem;
                line-height: 180%;
            }
        }
    }

    &__planets {
        max-width: 1440rem;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        &-title {
            text-align: center;
            margin-bottom: 50rem;
            font-family: var(--font-second);
            font-size: 36rem;
            font-weight: 700;
            text-shadow: 1rem 1rem 5rem rgba(83, 82, 130, 0.25);
        }
    
        &-list {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 30rem;
            flex-wrap: wrap;
        }
    }
}

