@use '../../styles/mixins' as *;

.planet-details {
    margin: 70rem auto;
    padding: 0 150rem;
    display: flex;
    justify-content: center;
    gap: 40rem;

    @include desktop-small {
        padding: 0 40rem;
    }

    @include tablet {
        flex-direction: column-reverse;
        margin: 50rem auto;
        gap: 20rem;
    }

    @include tablet-small {
        //text-align: center;
        margin: 30rem auto;
    }

    @include mobile {
        flex-direction: column;
        margin: 20rem auto;
        padding: 0 20rem;
        gap: 10rem;
    }

    &__img {
        flex: 0 0 40%;
        box-shadow: 5px 5px 30px 0 rgba(0, 0, 0, 0.25);
        display: flex;
        border-radius: 7rem;

        @include desktop-small {
            flex: 0 0 50%;
        }

        @include tablet {
            flex: 0 0 100%;
        }

        img {
            border-radius: 7rem;
        }
    }

    &__desc {

        h2 {
            margin-bottom: 30rem;
            color: var(--dark-lilac);
            font-family: var(--font-second);
            font-size: 30rem;
            font-weight: 700;
            text-shadow: 1rem 1rem 5rem rgba(83, 82, 130, 0.25);

            @include tablet {
                margin-bottom: 10rem;
            }

            @include mobile {
                font-size: 22rem;
            }
        }

        p {
            font-size: 18rem;
            line-height: 150%;
            margin-bottom: 30rem;

            @include tablet {
                margin-bottom: 20rem;
            }

            @include mobile {
                font-size: 16rem;
            }
        }

        &-btn {
            padding: 5rem;
            color: var(--red-brown);
            text-align: center;
            font-size: 20rem;
            font-weight: 500;
            border: 2rem solid var(--red-brown);
            border-radius: 7rem;

            @include mobile {
                font-size: 18rem;
            }

            &:hover {
                color: var(--white);
                background-color: var(--red-brown);
            }
        }
    }
}