.planet-card {
    max-width: 300rem;
    display: flex;
    flex-direction: column;
    border-radius: 5rem;
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.25);
    padding-bottom: 7rem;

    &__img {
        display: flex;
        border-radius: 7rem 7rem 0 0;

        img {
            border-radius: 7rem 7rem 0 0;
        }
    }
    
    &__name {
        text-align: right;
        font-family: var(--font-second);
        font-size: 26rem;
        font-weight: 700;
        color: var(--dark-lilac);
        text-shadow: 1rem 1rem 5rem rgba(83, 82, 130, 0.25);
        padding: 5rem;
    }

    .planet-data {
        padding: 0 5rem 8rem 5rem;
        font-size: 20rem;
        margin-bottom: 3rem;
        color: var(--red-brown);

        span {
            color: var(--black);
            font-weight: 600;
        }
    }
}